<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <div class="animation-container">
            <video autoplay loop muted>
              <source src="/assets/Find&GO.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
    </a>
      <ul class="nav nav-pills">
        <div class="img container"></div>
        <li class="nav-item"><a routerLink="/stores" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a routerLink="/login" class="nav-link">Login</a></li>
        <li class="nav-item"><a routerLink="/register" class="nav-link">Register</a></li>
        <li class="nav-item"><a routerLink="/map" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>