<div class="d-flex justify-content-evenly">

  <div class="store-listing">
    <div *ngFor="let store of storeList">
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src={{store.storeImg}} class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"> {{store.storeName}} </h5>
                <p class="card-text"> {{store.address}} </p>
                <p class="card-text"> {{store.description}} </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>


  <div class="map-container">
    <google-map></google-map>
  </div>

</div>