<app-search></app-search>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of productList">
      <div class="card mb-4">
        <div class="card-cont">
          <img [src]="product.productImg" class="card-img-top mx-auto d-block" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.productName}}</h5>
            <p class="card-text">{{product.description}}</p>
          </div>
         
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">${{product.price}}</li>
          <li class="list-group-item">{{product.category}}</li>
          <li class="list-group-item">Quantity: {{product.quantity}}</li>
        </ul>
        <div class="lower-body">
          <a href="#" class="card-link">Item Location</a>
          <a href="stores/{{product.category}}/" class="card-link">Similar Items</a>
        </div>
      </div>
    </div>
  </div>
</div>

  