.card-cont {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 313px;
}


.card-img-top {
    object-fit: contain;
    width: 240px;
    height: 200px;
}

.card-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

img {
    margin-top: 15px;
}

.lower-body {
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
}

.list-group-item {
    font-weight: 500;
    font-size: 1.2rem;
}